<tr>
  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
    <div class="flex items-center">
      <div class="ml-4">
        <div class="text-sm leading-5 font-medium text-gray-900"><%= admin.complete_name %></div>
        <div class="text-sm leading-5 text-gray-500"><%= admin.email %></div>
      </div>
    </div>
  </td>

  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-<%= admin_status_color(admin.active) %>-100 text-<%= admin_status_color(admin.active) %>-800"> <%= t("admin.manage_admin.status.#{admin_status(admin.active)}") %></span>
  </td>

  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">Admin</td>

  <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
    <% if admin.active %>
      <a href="/admins/manage_admins/<%= admin.id %>/edit" class="text-indigo-600 hover:text-indigo-900"> <%= t("admin.common.edit") %></a>
      <a href="/admins/manage_admins/<%= admin.id %>" data-method="delete" rel="nofollow" class="ml-1 text-indigo-600 <%= disable_current_admin(admin.id) %>"> <%= t("admin.common.delete") %></a>
    <% end %>
  </td>
</tr>