<div class="hidden md:flex flex-col w-full">
  <div class="header-nav--wrapper">
    <div class="header-nav">
      <h4 class="text-grey-800">
        <%= link_to t("janitors.dashboard.header.home"),inspectors_dashboard_path, class: 'breadcrumb' %>
      </h4> &nbsp;&nbsp;
      <%= icon :right %>&nbsp;&nbsp;
      <h4 class="text-grey-400">
        <%= t("janitors.dashboard.header.profile")%>
      </h4>
    </div>
  </div>
</div>

<div class="dashboard-wrapper__page">
<%= form for: @inspector, url: update_password_inspector_path(current_inspector), method: :put, controller: 'edit-password' do |f| %>
  <%= f.alert :error, controller: 'edit-password' %>
  
  <%= f.inputs t("inspectors.dashboard.password.current_password") do %>
    <%= f.input :current_password, icon: :lock, icon_right: :eye, placeholder: I18n.t("inspectors.dashboard.password.current_password"), required: true %>
  <% end %>

  <div data-controller="password" class="mt-2">
    <%= f.inputs t("inspectors.dashboard.password.password_title") do %>
      <%= f.input :password, icon: :lock, 
        placeholder: I18n.t("inspectors.dashboard.password.password_new"), 
        required: true, 
        input_html: { 'data-target': 'password.input', 'id': 'password-input' } %>
      <%= f.input :password_confirmation, icon: :lock, 
        placeholder: I18n.t("inspectors.dashboard.password.password_confirm"), 
        required: true, 
        input_html: { 'data-target': 'edit-password.passwordConfirm', 'id': 'password-confirm' } %>

      <div class="flex flex-col" data-target="password.animate">
        <ul class="list-disc ml-6 text-sm" data-target="password.hints" data-hint-texts="<%= [t("common.password_hint.at_least_8")].join(",") %>"></ul>
      </div>
    <% end %>
  </div>

  <div class="flex flex-row justify-between mt-16 wizard-actions">
    <button type="button" class="flex-1 mr-3 button button--outline js-back-button"><%= t('common.cancel') %></button>
    <%= f.submit t('common.save'), class: 'flex-1 ml-3' %>
  </div>
<% end %>
</div>
