<footer class="bottom-tabs dashboard-tabs">
  <nav class="bottom-tabs__wrapper">
    <ul class="bottom-tabs__list">
      <li class="tab <%= active_tab?(:home) ? 'tab--active' : '' %>">
        <%= link_to inspectors_dashboard_path do %>
          <%= icon :home, class: 'w-8 h-8' %>
        <% end %>
      </li>
      <li class="tab tab__create-request">
        <%= link_to new_inspectors_create_report_path, data: {turbolinks: false} do %>
          <%= icon :add_outline_circle %>
        <% end %>
      </li>
      <li class="tab <%= active_tab?(:profile) ? 'tab--active' : '' %>">
        <%= link_to inspectors_dashboard_profile_path do %>
          <%= icon :person, class: 'w-6 h-6', id: 'profile' %>
        <% end %>
      </li>
    </ul>
  </nav>
</footer>