<div>
  <div>
    <div class="grid grid-cols-2 mt-2">
      <div class='flex content-end  flex-wrap'>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <span class="text-base"> <%= t("admin.requests.form.title") %>: </span><%= @request.title.titleize %>
        </h3>
        <div>
          <span class="ml-4 px-2 py-1 bg-blue-500 text-xs text-white font-semibold rounded-full">
            <%= t("admin.requests.status.#{@request.status}") %>
          </span>
        </div>
      </div>
      <% unless action_name == 'show_public' %>
        <div class='flex justify-end '>
          <%= link_to t("admin.requests.actions.public_view"), "/public/request/#{@request.uid}", target: :_blank, class: "mr-1 inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        </div>
      <% end %>
    </div>
    <div>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        <span class="text-base">Description:  </span><%= @request.description.titleize %>
      </p>
    </div>
  </div>
  <div class="mt-6 sm:mt-5">
    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
        <%= t("admin.requests.form.request_type") %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md">
          <h1 class="text-base leading-6 font-medium text-gray-900">
            <%= t("admin.requests.request_type.#{@request.request_type}") %>
          </h3>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
        <%= t("admin.requests.form.janitor_name") %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md">
            <h1 class="text-base leading-6 font-medium text-gray-900">
              <%= @request.janitor.complete_name.titleize %>
            </h3>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
        <%= t("admin.requests.form.facility_name") %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md">
          <h1 class="text-base leading-6 font-medium text-gray-900">
            <%= @request.facility.name.titleize %>
          </h3>
        </div>
      </div>
    </div>

    <% if @request.attachments.any? %>
      <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
          <%= t("admin.requests.form.attachments") %>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md">
            <h1 class="text-base leading-6 font-medium text-gray-900">
              
              <% @request.attachments.each do |a| %>
                <%= link_to a.image.identifier, a.image.url, :target => '_blank', class: "text-teal-500" %> (<%= a.note %>)
              <% end %>
            </h3>
          </div>
        </div>
      </div>
    <% end %>

    <% if @request.order_request? %>
      <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          <%= t("admin.requests.form.product_name") %>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md">
            <h1 class="text-base leading-6 font-medium text-gray-900">
              <%= @request.try(:product).try(:title).try(:titleize) %>
            </h3>
          </div>
        </div>
      </div>

      <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
          <%= t("admin.requests.form.quantity") %>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md">
            <h1 class="text-base leading-6 font-medium text-gray-900">
              <%= @request.product_quantity %>
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  
    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
        <%= t("admin.requests.form.sent_at") %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md">
          <h1 class="text-base leading-6 font-medium text-gray-900">
            <%= @request.sent_at %>
          </h3>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px">
        <%= t("admin.requests.form.accepted_at") %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md">
          <h1 class="text-base leading-6 font-medium text-gray-900">
            <%= @request.accepted_at %>
          </h3>
        </div>
      </div>
    </div>

  </div>
</div>
