<article class="border border-grey-200 rounded-lg p-4 mb-3">
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row justify-between items-center mb-1">
        <span class="text-base font-medium text-gray-800 pr-2">
          <%= report_part.product_title %>
        </span>
        <span class="report-part__header-badge <%= report_part.rate %>" />
      </div>
      <button type="button">
        <%= icon :dots %>
      </button>
    </div>
    <div class="text-sm">
      <%= report_part.description %>
    </div>
    <div class="mt-4 flex flex-row">
      <% report_part.attachments.each do |attachment| %>
        <%= image_tag attachment.image.thumb.url, class: "w-12 h-12 rounded-md object-cover mr-1" %>
      <% end %>
    </div>
  </article>