<div class="flex flex-col items-center wizard">
  <h1 class="text-2xl text-center font-bold"><%= t("create_report.completion.success") %></h1>
  <%= icon :success, class: 'mt-8 mx-auto' %>

  <p class="text-center mx-auto mt-10">
    <%= t("create_report.completion.received_your_message") %> <br /><br />
    <%= t("create_request.completion.please_call") %>
  </p>

  <div class="mt-10 w-full">
    <%= link_to t("create_request.completion.ok_button"), inspectors_dashboard_path, class: 'button button--outline w-full mb-6' %>
    <%= link_to t("create_report.completion.create_another"), new_inspectors_create_report_path, class: 'button button--primary w-full' %>
  </div>
</div>