<li class="border-t border-gray-200 cursor-default">
    <div class="px-4 py-4 sm:px-6">
      <div class="flex items-center justify-between">
        <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
          <%= product.title.titleize %>
        </div>
      </div>
      <div class="mt-2 flex sm:justify-between">
        <div class="flex mt-2 items-center text-sm leading-5 text-gray-500 sm:mt-0">
          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
          </svg>
          <p class="max-w-md truncate ml-1"><%= product.description %></p>
        </div>
        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
          <span class="inline-flex rounded-md shadow-sm">
            <a href="/admins/products/<%= product.id %>/edit" class="p-1 inline-flex items-center border border-gray-300 text-xs leading-4 font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150"><%= t("admin.common.edit") %></a>
          </span>
          <span class="inline-flex rounded-md shadow-sm px-1">
            <a href="/admins/products/<%= product.id %>" data-method="delete" rel="nofollow" class="p-1 inline-flex items-center border border-gray-300 text-xs leading-4 font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150"><%= t("admin.common.delete") %></a>
          </span>
        </div>
      </div>
    </div>
</li>